.footer {
    background-color: #39a900;
    padding: 1.5rem;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    margin-top: auto;
    width: 100%;
}

.footer-content {
    color: #ffffff;
    font-size: 0.9rem;
}

.sena-text {
    color: #ffffff;
    /* SENA Green */
    font-weight: 500;
    margin-top: 0.5rem;
}